[Unit]
Description=Linne Final Project

[Service]
ExecStart=/home/bcuser/npm/bin/npm run start-service
WorkingDirectory=/home/bcuser/bin/linne-final
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=linne-final
User=bcuser
Group=bcuser
Environment=NODE_ENV=production
Environment=FINAL_SERVER_PORT=30029
Environment=SETUP_LINUXBOX=/home/bcuser/Git/JsObjects/Utilities/SetupLinuxBox

[Install]
WantedBy=multi-user.target
