[Unit]
Description=Final System Check

[Service]
ExecStart=/home/bcuser/npm/bin/npm run start-service
WorkingDirectory=/home/bcuser/bin/final-system-check
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=final-system-check
User=bcuser
Group=bcuser
Environment=NODE_ENV=production
Environment=SYSTEM_CHECK_PORT=30034
Environment=SETUP_LINUXBOX=/home/bcuser/Git/JsObjects/Utilities/SetupLinuxBox

[Install]
WantedBy=multi-user.target
